.paginationBttns {
    bottom: 5%;
    position :absolute;
    height:20px;
    list-style: none;
    display:flex;
    left:50%;
}

.paginationBttns a {
   padding: 3px;
   padding-left:5px;
   padding-right:5px;
   margin:8px;
   border-radius: 3px;
   color: whitesmoke;
   cursor: pointer;
}
.paginationBttns a:hover{
    color: #07074D;
    background-color: rgb(3, 2, 2);
}
.paginationActive a{
    color: #07074D;
    background-color: whitesmoke;
}